{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
      <h1>Ticket Optimizer</h1>
      <h2>Frequently Asked Questions</h2>
        <button class="collapsible">What does the Ticket Optimizer do?</button>
        <div class="content">
      It calculates the optimal way of spending your tickets if your only goal is to maximize your estimate in the
            <a href="https://docs.google.com/spreadsheets/d/1C2dR5pO1rcKlle62dPRb5MqCbbDDubKeT87A54N6w00/copy">DKR.exe scoresheet</a>.
      It takes all relevant factors into account (cup boosts, Mii boosts, spotlight boosts).
      However, it doesn't know or care about tracks that are not in the tour, recency of DKG, etc. So you should definitely <b>not</b> use it for
      planning long-term investments.
        </div>
        <button class="collapsible">What input do I need?</button>
        <div class="content">
      Besides filling the fields for player level and ticket amounts (empty ticket fields count as zeroes), you'll need a CSV file containing your inventory.
      It should look like this:

        <div class="table-responsive">
        <table>
        <tbody>
          <tr>
            <td>BABY MARIO</td>
            <td>D</td>
            <td>7</td>
            <td>0</td>
          </tr>
          <tr>
            <td>BABY PEACH</td>
            <td>D</td>
            <td>5</td>
            <td>0</td>
          </tr>
          <tr>
            <td>BABY DAISY</td>
            <td>D</td>
            <td>5</td>
            <td>0</td>
          </tr>
          <tr>
            <td>BABY ROSALINA</td>
            <td>D</td>
            <td>6</td>
            <td>0</td>
          </tr>
          <tr>
            <td>BABY LUIGI</td>
            <td>D</td>
            <td>8</td>
            <td>3</td>
          </tr>
          <tr>
            <td>KOOPA TROOPA</td>
            <td>D</td>
            <td>7</td>
            <td>1</td>
          </tr>
          <tr>
            <td>SHY GUY</td>
            <td>D</td>
            <td>6</td>
            <td>0</td>
          </tr>
        </tbody>
        </table>
        </div>
      <ul>
      To generate the file:
      <li>If you use any variant of the B&G trackers
          (<a href="https://docs.google.com/spreadsheets/d/1OeF7CSjpMgJz3arb-Xh4_zxsvO6dtMWw-gSvDispIn8/copy">reichembach's</a>,
          <a href="https://docs.google.com/spreadsheets/d/18u6n39YcL_IEl_sRrCelg3px_hxVR9GbBZwkylO6VPQ/copy">Antilev's</a>,
          <a href="https://docs.google.com/spreadsheets/u/0/d/1rZtw2c4B0l30e7jwurNBDGBODqJFZe8wn19K4dkagjo/copy">Ben's</a>), go to the Export/Import tab and copy the 4 columns
      under <b>Output from Old Sheet</b> (not including the header row). Create a new tab in the same document, do a right click on the upper left cell,
      select "Paste special" and then "Values only". Finally, go to "File&rarr;"Download"&rarr;"Comma Separated Values (CSV)".</li>
      <li>If you use the <a href="https://www.mkttoolbox.com">MKT Toolbox</a> and your inventory is up to date, go to "Import Wizard"&rarr;
      "Bam/Gerbs/reichembach"&rarr;"Export". Copy the whole table that appears, paste it into a new spreadsheet and save it as CSV,
      just as in the previous case.</li>
      <li>The <a href="https://tickettime.eu.pythonanywhere.com">Ticket Time</a> app uses exactly the same format.
      It provides a <a href="https://tickettime.eu.pythonanywhere.com/download">blank CSV file</a> that contains all
          items and where you only have to enter your levels.</li>
      </ul>
        </div>
        <button class="collapsible">What if some items have partial progress towards the next level thanks to dupes or tickets?</button>
        <div class="content">
      You can add this data to the CSV file as follows. Open the file in Excel or Google Docs, and add the number of partial level-ups
      on the fifth column. For example, if the game shows something like 3/5 for a HE driver at level 6, enter a 3 in the corresponding row.
      You can enter this only for some items, all others will be interpreted as 0.<br>
      As opposed to the other columns, this data is currently only generated by MKD Ben's tracker, but not by the other BGR trackers
            or by the MKT Toolbox, so you'll probably have to enter it manually.
        </div>
        <button class="collapsible">Is the found solution really optimal?</button>
        <div class="content">
      Not necessarily. To guarantee optimality, we would need to simultaneously consider all possible combinations of upgrades of D/K/G.
      The program then needs several hours to run, so it's not practicable. What the tool currently does is:
      <ol>
          <li>Identify the optimal loadouts of the current inventory, without any upgrades</li>
          <li>Find the best way of spending the driver tickets, assuming that the karts and gliders remain as they are.</li>
          <li>Find the best way of spending the kart tickets, assuming that the drivers have been upgraded as determined by the previous step,
              but leaving the gliders as they are.</li>
          <li>Find the best way of spending the glider tickets, assuming the upgrades for drivers and karts have already been done.</li>
      </ol>
      If you find a combination of upgrades that gives you a better score than the tool, please let me know, so I can adjust it.
        </div>
        <button class="collapsible">Are there more features upcoming?</button>
        <div class="content">
      Yes, for example:
      <ol>
          <li>Make it possible to put a limit on how many tickets you are willing to put into specific items.</li>
          <li>If the runtime is not prohibitive, I will allow the option of running the tool also on tracks that aren't in the tour,
          which should be a good indicator of how to spend tickets for long-term value.</li>
      </ol>
        </div>
        <button class="collapsible">What should I know about the runtime?</button>
        <div class="content">
      In general terms, the runtime increases both when the inventory is larger and when there are more tickets available. Something around 30s
      seems to be a good indicator. The runtime will increase a lot when there are many options for a given track, all of them at a very low level.
        </div>
        <button class="collapsible">Are there any runtime limitations?</button>
        <div class="content">
      The free server I'm using allows only one calculation at each moment. This means that if 3 people start a calculation at roughly the same time,
      the last one will have to wait around 1:30min. If the tool is being slow for you, it might be because other people are using it, so try again
      later. This will be a problem mostly if many people use the app immediately after the announcement of a new update.<br>
      Additionally, calculations are limited by the server to 5 min. So if you start a calculation with an inventory that owns every single item at level 1,
      and with 100 tickets of each type available, chances are that after 5 min you'll see an error message. <br>
        </div>
        <button class="collapsible">When does the Ticket Optimizer get updated?</button>
        <div class="content">
      Shortly after the DKR.exe sheet and the datamined coverage data have been released.
      That's usually on the first day of the tour, sometimes on the second.
        </div>
        <button class="collapsible">The app crashed</button>
        <div class="content">
      I've tried to anticipate most possible error sources (usually related to incorrect inventory files), but some will have escaped me.
      If the app crashes, please send me your inventory file and a screenshot of your input.
        </div>
        <button class="collapsible">The scores reported are different from those of the DKR.exe sheet</button>
        <div class="content">
            Differences of a few points are to be expected due to rounding errors. If you notice more significant discrepancies, please let me know.
        </div>
        <button class="collapsible">Where to report bugs, offer feedback or ask questions?</button>
        <div class="content">
      You can DM me on Discord (aturtledude#0589) or Reddit (u/aturtledude).
        </div>
        <button class="collapsible">How can I contribute?</button>
        <div class="content">
            If you have experience with front-end web development and would like to help me improve the UI, that would be highly appreciated!
        </div>
      <br><br>
      <button onclick="goBack()">Go Back</button>
{% endblock %}