{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
      <h1>Ticket Optimizer</h1>
      <h2>Updated for the Mario vs Luigi Tour</h2>

  <a href="/faq">Help/FAQ</a>

    <form action="/results" method="POST" enctype="multipart/form-data">
        {{ form.inventoryFile.label }} {{ form.inventoryFile }}<br>
        {{ form.playerLevel.label }} {{ form.playerLevel(size=3) }} <br>
        {{ form.cups.label }} {{ form.cups }} <br>
        Level-up tickets:<br>
        {{ form.lnd(size=3, style="border-color:Silver;", type="number") }}
        {{ form.lnk(size=3, style="border-color:Silver;") }}
        {{ form.lng(size=3, style="border-color:Silver;") }}<br><br>
        {{ form.lsd(size=3, style="border-color:Goldenrod;") }}
        {{ form.lsk(size=3, style="border-color:Goldenrod;") }}
        {{ form.lsg(size=3, style="border-color:Goldenrod;") }}<br><br>
        {{ form.lhd(size=3, style="border-color:Fuchsia;") }}
        {{ form.lhk(size=3, style="border-color:Fuchsia;") }}
        {{ form.lhg(size=3, style="border-color:Fuchsia;") }}<br><br>
        Uncap tickets:<br>
        {{ form.und(size=3, style="border-color:Silver;") }}
        {{ form.unk(size=3, style="border-color:Silver;") }}
        {{ form.ung(size=3, style="border-color:Silver;") }}<br><br>
        {{ form.usd(size=3, style="border-color:Goldenrod;") }}
        {{ form.usk(size=3, style="border-color:Goldenrod;") }}
        {{ form.usg(size=3, style="border-color:Goldenrod;") }}<br><br>
        {{ form.uhd(size=3, style="border-color:Fuchsia;") }}
        {{ form.uhk(size=3, style="border-color:Fuchsia;") }}
        {{ form.uhg(size=3, style="border-color:Fuchsia;") }}<br><br>
        <input type="submit" value="Run" />
    </form>
<br><br>
      <h4>By aturtledude </h4>
    <h4>Thanks to DKR.exe for the action counts and formulas, and to Sam78it for the coverage data.</h4>
{% endblock %}