{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
      <h1>Ticket Optimizer</h1>
      <h2>Updated for the New Year's Tour</h2>

  <a href="/faq">Help/FAQ</a><br>
  <a href="https://www.youtube.com/watch?v=udHHcQWkhqc">Basic Video Tutorial</a>

    <form action="/results" method="POST" enctype="multipart/form-data">
        {{ form.inventoryFile.label }} {{ form.inventoryFile }}<br>
        {{ form.playerLevel.label }} {{ form.playerLevel(size=3, type="number", min="1", max="400") }} <br>
        {{ form.cups.label }} {{ form.cups }} <br>
        Level-up tickets:<br>
        {{ form.lnd(size=3, style="border-color:Silver;", type="number", min="0", max="999") }}
        {{ form.lnk(size=3, style="border-color:Silver;", type="number", min="0", max="999") }}
        {{ form.lng(size=3, style="border-color:Silver;", type="number", min="0", max="999") }}<br><br>
        {{ form.lsd(size=3, style="border-color:Goldenrod;", type="number", min="0", max="999") }}
        {{ form.lsk(size=3, style="border-color:Goldenrod;", type="number", min="0", max="999") }}
        {{ form.lsg(size=3, style="border-color:Goldenrod;", type="number", min="0", max="999") }}<br><br>
        {{ form.lhd(size=3, style="border-color:Fuchsia;", type="number", min="0", max="999") }}
        {{ form.lhk(size=3, style="border-color:Fuchsia;", type="number", min="0", max="999") }}
        {{ form.lhg(size=3, style="border-color:Fuchsia;", type="number", min="0", max="999") }}<br><br>
        Uncap tickets:<br>
        {{ form.und(size=3, style="border-color:Silver;", type="number", min="0", max="999") }}
        {{ form.unk(size=3, style="border-color:Silver;", type="number", min="0", max="999") }}
        {{ form.ung(size=3, style="border-color:Silver;", type="number", min="0", max="999") }}<br><br>
        {{ form.usd(size=3, style="border-color:Goldenrod;", type="number", min="0", max="999") }}
        {{ form.usk(size=3, style="border-color:Goldenrod;", type="number", min="0", max="999") }}
        {{ form.usg(size=3, style="border-color:Goldenrod;", type="number", min="0", max="999") }}<br><br>
        {{ form.uhd(size=3, style="border-color:Fuchsia;", type="number", min="0", max="999") }}
        {{ form.uhk(size=3, style="border-color:Fuchsia;", type="number", min="0", max="999") }}
        {{ form.uhg(size=3, style="border-color:Fuchsia;", type="number", min="0", max="999") }}<br><br>
        <input type="submit" value="Run" />
         {% for field, errors in form.errors.items() %}
        <small class="form-text text-muted ">
        {{ ', '.join(errors) }}
        </small>
{% endfor %}
    </form>
<br><br>
    <h4>By aturtledude (Check out my <a href="https://coverageoptimizer.pythonanywhere.com">Coverage Optimizer</a>!)</h4>
    <h4>Thanks to DKR.exe for the action counts and formulas, and to Sam78it for the coverage data.</h4>
{% endblock %}